body{
  margin-top: 100px;
  text-align: center;
  background-color: black;
  color: white;
}

.container{
  max-width: 1000px;
}

.carousel-indicators{
  bottom: 0;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators li {
  border-color: black;
}
.carousel{
  text-align: center;
  color: black;
}

.col-sm-4 a{
  font-size: 20pt;
}
