.container{
  max-width: 1000px;
}

body{
  margin-top: 100px;
  text-align: center;
}

.jumbotron{
  text-align: center;
}
img.logo {
  width: 10px;
  height: 10px;
}

.carousel-indicators{
  bottom: 0;
}

.carousel-indicators .active{
  top: 0;
  background-color: black;
}
.carousel-indicators li{
  top: 0;
  border-color: black;
}
